body {
    background-color: rgb(216, 216, 216);
}

.main {
    padding: 20px;
    border: 1px solid rgba(202, 202, 202, 0.452);
    color:#000;
    font-size: larger;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 10fr 1fr;
    margin: 20px;
    width: 95vw;
    height: 00px;
    background-color: rgb(180, 180, 180);
}

.buttons {
    border: 1px solid rgba(78, 78, 78, 0.452);
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    align-items: center;
}

.saveButton {
    width: 100px;
    height: 30px;
    background-color: rgb(2, 154, 255);
    border-radius: 15px;
    border: none;
    color: #fff;
    margin: 15px;
}

.cancelButton {
    width: 100px;
    height: 30px;
    border-radius: 15px;
    border-color: rgb(2, 154, 255);
    color: rgb(2, 154, 255);
    margin: 15px;
}

.radio {
    margin: 10px;
    font-size: 20px;
}

.ipform {
    display: flex;
    flex-direction: column;
}

.inputsWrapper {
    align-self: flex-end;
}

.input {
    font-size: 20px;
    text-align: right;
    margin: 10px;
}

.input input {
    width: 400px;
    height: 30px;
    font-size: 20px;
    margin-left: 15px;
}

.required {
    color: red;
}